@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#vue-chatroom #frame {
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	height:500px;
}

.col {
	float: left;
}

#vue-chatroom .actions, #vue-chatroom .actions textarea {
	width: 100% !important;
}

#vue-chatroom #title {
	padding: 10px;
	background-color: #A51E64;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	border-top: 1px solid #979797;
	font-family: 'Open Sans', sans-serif;
}

#vue-chatroom #frame .online {
	border-right: 1px solid #A51E64;
	padding-top: 0;
	width: 25%;
	height: 100%;
	overflow-y: auto;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

#vue-chatroom #frame .online::-webkit-scrollbar,
#vue-chatroom #frame .chat::-webkit-scrollbar {
	display: none;
}

.time {
	font-size: 12px !important;
	color: grey;
	display: none;
	position: absolute;
   right: 0;
   padding-right: 5px;
}

button {
	padding: initial;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0;
}

#vue-chatroom #frame .online ul {
	list-style-type: none;
	padding: 10px;
	padding-top: 0;
	padding-bottom: 0;
}

#vue-chatroom #frame .online ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}

#vue-chatroom #frame .online ul li .avatar,
#vue-chatroom #frame .chat div .from .avatar {
	vertical-align: middle;
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

#vue-chatroom #frame .chat div .from {
	display: inline-block;
}

#vue-chatroom #frame .chat div .from span {
	margin-left: 10px;
	font-weight: bold;
}

.con {
	height: 100%
}

.joined,
.left {
	font-style: italic;
	color: #333333;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#vue-chatroom #frame .chat div .from span,
#vue-chatroom #frame .chat div span {
	vertical-align: middle;
	font-size: 14px;
}

#vue-chatroom #frame .chat .welcome {
	margin: 20;
	text-align: center;
	padding-top: 20px;
}

.padding {
	padding: 10px;
}

#vue-chatroom #frame .online ul li a {
	margin-left: 5px;
	font-size: 13.5px;
	text-decoration: none;
	color: #000;
	box-shadow: none;
}

#vue-chatroom #frame .online .list {
	display: block;
}

#vue-chatroom .actions textarea {
	height:100px;
}

#vue-chatroom #frame .online .mods h3,
#vue-chatroom #frame .online .members h3,
#vue-chatroom #frame #panel-settings h3 {
	padding: 10px;
	color: #000;
	background-color: #E6C1D4;
	font-size: 14px;
	margin-bottom: 0;
}

.actions {
	display: flex;
	clear: both;
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
	border-bottom: 1px solid #979797;
}

.actions button {
	background-color: #A51E64;
	color: #FFF;
}

#vue-chatroom #frame input {
	flex: 1;
}

#vue-chatroom #frame .chat {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 75%;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

body #cometchat {
	display: none;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

#vue-chatroom #title a {
	color: #fff;
}

#vue-chatroom #frame #panel-settings {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	height: 100%;
	width: 50%;
	z-index: 1;
	display: none;
	border-left: 1px solid #979797;
}

#vue-chatroom #frame #panel-settings h3 {
	font-size: 17px;
}

#vue-chatroom #frame #panel-settings #body {
	padding: 10px;
}

.user-message .delete-message,
.delete-message {
	position: absolute;
	right: 0;
	display: none;
	padding-top:15px;
	box-shadow:none;
}

.user-message .delete-message {
	color: #000;
	text-decoration: none;
}

.user-message:hover .delete-message {
	display: inline-block;
}

.vcw-context {
	display: none;
	width: auto;
	height: auto;
	background-color: #fff;
	border: 1px solid #979797;
	padding: 10px;
	font-size: 12px;
	cursor: pointer;
}

.vcw-context ul {
	margin: 0;
}

.vcw-color-picker {
	display:none;
}

.wp-picker-container {
	display: inline-block;
}

.wp-picker-container .wp-color-result.button {
	height: initial;
}

	#vue-chatroom #title .user-list {
		display:none;
	}

.vcw-error {
	display:none;
	color:red;
	font-weight:bold;
	text-align:center;
	padding-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}

.emojionearea .emojionearea-editor {
	min-height: 5em !important;
	max-height: 5em !important;
}

img.emoji {
	font-size:18px;
}

@media screen and (max-width:415px) {
	#vue-chatroom #frame .online {
		display: none;
		position: absolute;
		width: 100%;
		z-index: 1;
		background-color: #fff;
	}
	#vue-chatroom #title span {
		display:none;
	}
	#vue-chatroom #frame .chat {
		width: 100%;
	}
	.actions button {
		text-indent: -999px;
	}
	.actions button:after {
		text-indent: 0px;
		float: left;
		font-family: "FontAwesome";
		font-weight: 900;
    	content: '\f0a9';
		font-size:20px;
  }
	#vue-chatroom #frame #panel-settings {
		width:100%;
	}

	#vue-chatroom #title .fa-external-link {
		display:block;
	}

	#vue-chatroom #title .user-list {
		display: block;
	}
}
