@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.ui.comments {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.comments {
  max-width: 100% !important;
}

.ui.segment[class*="bottom attached"] {
  margin-bottom: 0;
}

.ui.form {
  position: fixed;
  bottom: 15px;
  z-index: 100;
  width: 98%;
}

.sidebar.visible+.pusher {
  width: calc(100% - 260px);
}

.emojionearea, .emojionearea.form-control {
  border-bottom: none !important;
  border-radius: 3px 3px 0 0 !important;
}
